<div class="policy">
  <div class="twelve column">
    <h1 class="uppercase">Privacy Policy</h1>

    <p>This privacy policy is applicable to the Site accessible at <font color="#95181c"><%= link_to I18n.t(:company_domain), root_path %></font>, which is owned and operated by <%= company_name %> (hereinafter referred to as &quot;we&quot;, &quot;our&quot;, or &quot;us&quot;). The purpose of this privacy policy is to disclose to you what information we may collect, how we may collect it, with whom we may share it, and certain other matters related to such information, including the choices you have regarding our collection of information and our use and disclosure to other parties of information we may have collected from you.</p>

    <h2 class="uppercase"><b>Types of Information that May Be Collected</b></h2>
    <p>The following are the types of information we may collect:</p>

    <h2><b><i>Information You Provide Us</i></b></h2>
    <p>Personal information that you provide to us, such as your user ID and password, name, email address, telephone number, physical address, birth date, gender or zip code or other information may be collected via the Site.</p>

    <h2><b><i>Site Usage Information</i></b></h2>
    <p>We may receive and store certain types of information whenever you visit the Site. For example, we may collect click-stream data and your IP address.</p>

    <h2><b><i>Email Communications</i></b></h2>
    <p>When you open emails from the Site, we may receive a confirmation noting you opened an email from us, if your computer supports such capabilities. We also may keep track of what emails we send you and what emails you may be receiving from us and our subsidiaries and affiliates. Additionally, we keep a record of what types of emails you have opted to and not to receive. </p>

    <h2><b><i>Information from Other Sources</i></b></h2>
    <p>We may receive information about you from other sources and add it to your personal information.</p>

    <h2 class="uppercase"><b>How Information May Be Collected</b></h2>
    <p>We may collect information from you in several different areas on the Site, including but not limited to those described below:</p>

    <h2><b><i>Registration</i></b></h2>
    <p>You may be asked first to complete a registration form and provide personally identifiable information; you may also be asked to choose a user ID and password in order to take advantage of certain features the Site may choose to offer, including, but not limited to, Newsletters, Contests, Forums or other subscription-based services.</p>

    <h2><b><i>Newsletters and Site Emails</i></b></h2>
    <p>We may offer free newsletters to share information with you about the Site, about us and our affiliates and subsidiaries, or about our business partners and advertisers and sponsors. You may receive a newsletter either by registering for a particular newsletter or in conjunction with a special feature or membership for which you have registered on the Site. You may cancel your free email subscription by following the instructions provided on the Site or, in some instances, in the designated area of certain newsletters or emails.</p>

    <h2><b><i>Contests or Sweepstakes</i></b></h2>
    <p>We may operate contests and sweepstakes through the Site which may require registration. Your personally identifiable information may be used to contact you for winner notification, prize delivery confirmation or other related purposes. We may ask your permission to allow us to post publicly some of your information on the Site, such as on a winners page, in the event you win a contest or sweepstakes. We will not post your information without your permission. In some instances, a third party advertiser or sponsor may operate or host a contest or sweepstakes on the Site, and collect your information. In those cases, where we are not the operator or host of the contest or sweepstakes, we have no control over the information collected and accordingly urge you to review the advertiser&rsquo;s or sponsor&rsquo;s privacy policy applicable to the contest or sweepstakes before participating. </p>

    <h2><b><i>Surveys or Voting</i></b></h2>
    <p>From time&ndash;to-time we may request personally identifiable information from you via surveys or voting polls. Participation is voluntary and you will have the opportunity to decide whether or not to disclose information. At times, you may have to register to vote or to take part in a survey. </p>

    <h2><b><i>Cookies</i></b></h2>
    <p>As with many Websites, the Site uses standard technology called &quot;cookies,&quot; which are small data files that are transferred to your computer when you allow your browser to accept cookies. Cookies automatically identify your Web browser to the Site whenever you visit the Site, and make using the Site easier for you by saving your passwords, purchases, and preferences. By tracking how and when you use the Site, cookies help us determine which areas are popular and which are not. Many improvements and updates to the Site are based on data obtained from cookies. Accepting cookies allows you, among other things, to personalize your experience on the Site. Cookies may also allow the Site to present to you advertising which may be of interest to you. If you do not want information collected through the use of cookies, you generally can opt out of providing this information by turning the cookies off in your browser; however, some areas of the Site may not provide you with a personalized experience if you have disabled the use of cookies. </p>

    <h2><b><i>IP Addresses and Click-stream Data</i></b></h2>
    <p>We may collect IP addresses and/or click-stream data for purposes of system administration and to report aggregate information to our advertisers and sponsors. An IP address is a number that is automatically assigned to your computer whenever you access the Internet. Our computers identify your computer by its IP address. When you request Web pages from the Site, our computers log your IP address. Click-stream data is information collected by our computers when you request Web pages from the Site. Click-stream data may include such information as the page served, the time, the source of the request, the type of browser making the request, the preceding page view and other such non-personal information. When analyzed, this data helps us analyze how visitors arrive at the Site, what type of content is most popular, what type of visitors in the aggregate are interested in particular kinds of content and advertising, and the like. </p>

    <h2><b><i>Transaction Information</i></b></h2>
    <p>If you order any information from our Site, buy any of our products or subscribe for any of the services offered on our Site, we will ask you to complete an order form that will request certain information from you, including financial information such as a credit card number and expiration date and general contact, billing and shipping information. We will use this information to complete the transaction that you have requested, i.e., to deliver the information, products or other services that you order, and to invoice you. Such information is collected and stored through encrypted means for your protection.</p>

    <h2 class="uppercase"><b>How We Use the Information Collected</b></h2>
    <p>We own the information collected via this Site. As applicable, the information you provide to us may be used to:

      <ul>
        <li>contact you about the Site; </li>
        <li>contact you relating to your membership status; </li>
        <li>confirm or fulfill an order you have made; </li>
        <li>monitor or improve the use of the Site; </li>
        <li>customize the advertising and content you see; </li>
        <li>monitor compliance with our terms and conditions of use of the Site; </li>
        <li>provide special offers to you from us and/or their respective affiliates and subsidiaries and other third parties; </li>
        <li>send you promotional material on behalf of our business partners; </li>
        <li>inform you of a prize you have won. </li>
      </ul>
    </p>

    <h2 class="uppercase"><b>With Whom the Information May Be Shared</b></h2>
    <p>At times, we may share your personally identifiable information with others for various purposes. The following outlines the ways in which your information may be shared with others: <b>Agents</b>. We employ other businesses, certain services and individuals to perform functions on our behalf. Examples include fulfilling orders, sending e-mail, removing repetitive information from customer lists, Site analysis, analyzing data, providing marketing assistance, processing credit card payments, and providing customer service. These entities have access to personally identifiable information needed to perform their functions, but may not use it for other purposes.</p>

    <h2><b>Promotional Offers</b>:</h2>
    <p>We may send offers by email to you on behalf of other partners. When we do this, we do not give that partner your name and address. If you do not want to receive such offers, you may opt out in response to the email, or change your preferences by emailing <a href="mailto:info@<%= I18n.t(:company_domain) %>">info@<%= I18n.t(:company_domain) %></a>.</p>

    <h2><b>Aggregate Information</b>:</h2>
    <p>We may share aggregate information such as demographics and Site usage statistics with advertisers, sponsors or other organizations. When this type of information is shared, the other parties do not have access to your personally identifiable information.</p>

    <h2><b>Opt-in and Opt-out Programs</b>:</h2>
    <p>Throughout the Site you may be presented with opportunities to receive special offers from third parties. An opt-in/opt-out message will ask you if you would like your information to be shared. If you do choose to have your information shared, in an effort to protect you, third parties who have access to personally identifiable information must abide by the current Site privacy policy. However, we are not responsible for the privacy practices of these other companies, and you should review the privacy practices of such Web sites prior to providing your personally identifiable information.</p>

    <h2><b>Partners Subsidiaries and Affiliates:</b></h2>
    <p>We may share your information (including, without limitation, personally identifiable information) with our subsidiaries and affiliates.</p>

    <h2><b>Business Transfers</b>:</h2>
    <p>The Site may be sold along with its assets, or other transactions may occur in which your personally identifiable information is one of the business assets transferred. In such a case, your personally identifiable information, which we have gathered, may be one of the business assets we transfer. <b><br /><br />Legal Process</b>:<br />In the event we are required to respond to subpoenas, court orders or other legal process your personally identifiable information may be disclosed pursuant to such subpoena, court order or legal process, which may be without notice to you.</p>

    <h2><b><i>Chat Rooms, Forums, and Message Boards</i></b></h2>
    <p>The Site may make chat rooms, forums and message boards available to its users. While you are required to register with the site for access to these areas, you are not required to provide any personal information when using these areas but you may choose to do so. If you post personal information online, it will be publicly available and you may receive unsolicited messages from other parties. We cannot ensure the security of any information you choose to make public in a chat room, forum, or message board. Also, we cannot ensure that parties who have access to such publicly available information will respect your privacy. Please exercise caution when deciding to disclose personal information in these areas.</p>

    <h2><b><i>Links to Other Web Sites</i></b></h2>
    <p>This privacy policy applies only to this Site. When you are on the Site you could be directed to other sites beyond our control. For example, if you &quot;click&quot; on a banner advertisement, the &quot;click&quot; may take you off the Site onto a different Web site. This includes links from advertisers, sponsors and others that may use the Site&rsquo;s logo as part of a cobranding agreement. These other Web sites may send their own cookies to you, independently collect data or solicit personal information and may or may not have their own published privacy policies. If you visit a Website that is linked to our Site, you should consult that site&rsquo;s privacy policy before providing any personal information.</p>

    <h2 class="uppercase"><b>Security</b></h2>
    <p>This Site incorporates reasonable safeguards to protect the security, integrity, completeness, accuracy and privacy of the personal information that we may collect and we have put into place reasonable precautions to protect such information from loss, misuse and alteration. Certain personally identifiable information, such as credit card information, is transferred to our computers utilizing encryption software. Only those employees who need access to your information in order to do their jobs are allowed access. Our security policies are reviewed periodically and revised as required.</p>

    <h2 class="uppercase"><b>A Special Note for Parents Concerning Privacy</b></h2>
    <p>The Site is a general audience site. We do not currently collect any personal information from children under the age of thirteen on the Site. If in the future, we knowingly collect personally identifiable information from children, we will do so in compliance with the Children's Online Privacy Protection Act of 1998 (15 U.S.C. 6501 et seq.) including, without limitation, obtaining necessary parental consents.</p>

    <h2 class="uppercase"><b>Notification of Changes and Your Acceptance of the Privacy Policy</b></h2>
    <p>By using this Site, you signify your agreement to the terms of this privacy policy. If we decide to change or update this privacy policy, we will post the change or update here. If at any point we decide to use personally identifiable information in a manner different from that stated at the time it was collected, we will notify you by way of an email or some other means. Your continued use of the Site shall constitute your acceptance of such revised privacy policy.</p>

    <h2 class="uppercase"><b>Correction/Updating Personal Information</b></h2>
    <p>If your personally identifiable information (such as your address) changes, or if you no longer desire to access our Site, you may correct, update or remove the personal data you have provided to us by making changes to your profile, by using an opt out message in an email with your request. If you have any questions about this privacy policy or the privacy practices of this Site, you can contact: <font color="#95181c"><a href="mailto:info@<%= I18n.t(:company_domain) %>">info@<%= I18n.t(:company_domain) %></a></font>.</p>

    <h2><b>Disclaimers</b></h2>
    <p><%= company_name %> does not promise that the site or any content, service or feature of the site will be error-free or uninterrupted, or that any defects will be corrected, or that your use of the site will provide specific results. the site and its content are delivered on an &ldquo;as-is&rdquo; and &ldquo;as-available&rdquo; basis. All information provided on the site is subject to change without notice. <%= company_name %> cannot ensure that any files or other data you download from the site will be free of viruses or contamination or destructive features. <%= company_name %> disclaims all warranties, express or implied, including any warranties of accuracy, non-infringement, merchantability and fitness for a particular purpose. <%= company_name %> disclaims any and all liability for the acts, omissions and conduct of any third parties in connection with or related to your use of the site and/or any <%= company_name %> services. You assume total responsibility for your use of the site and any linked sites. Your sole remedy against <%= company_name %> for dissatisfaction with the site or any content is to stop using the site or any such content. this limitation of relief is a part of the bargain between the parties.</p>

    <p>The above disclaimer applies to any damages, liability or injuries caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction of or unauthorized access to, alteration of, or use, whether for breach of contract, tort, negligence or any other cause of action.</p>

    <p><%= company_name %> reserves the right to do any of the following, at any time, without notice: (1) to modify, suspend or terminate operation of or access to the Site, or any portion of the Site, for any reason; (2) to modify or change the Site, or any portion of the Site, and any applicable policies or terms; and (3) to interrupt the operation of the Site, or any portion of the Site, as necessary to perform routine or non-routine maintenance, error correction, or other changes.</p>

    <h2><b>Limitation of Liability</b></h2>
    <p>Except where prohibited by law, in no event will <%= company_name %> be liable to you for any indirect, consequential, exemplary, incidental or punitive damages, including lost profits, even if <%= company_name %> has been advised of the possibility of such damages.<br /><br />If, notwithstanding the other provisions of these Terms of Use, <%= company_name %> is found to be liable to you for any damage or loss which arises out of or is in any way connected with your use of the Site or any Content, <%= company_name %>&rsquo;s liability shall in no event exceed the greater of (1) the total of any subscription or similar fees with respect to any service or feature of or on the Site paid in the six months prior to the date of the initial claim made against <%= company_name %>, or (2) US$100.00. Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you.</p>

    <h2><b>Indemnity</b></h2>
    <p>You agree to indemnify and hold <%= company_name %>, its officers, members, directors, shareholders, predecessors, successors in interest, employees, agents, subsidiaries and affiliates, harmless from any demands, loss, liability, claims or expenses (including attorneys&rsquo; fees), made against <%= company_name %> by any third party due to or arising out of or in connection with your use of the Site.<br /></p>

    <h2><b>Violation of These Terms of Use</b></h2>
    <p><%= company_name %> may disclose any information we have about you (including your identity) if we determine that such disclosure is necessary in connection with any investigation or complaint regarding your use of the Site, or to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) <%= company_name %>&rsquo;s rights or property, or the rights or property of visitors to or users of the Site, including <%= company_name %>&rsquo;s customers. <%= company_name %> reserves the right at all times to disclose any information that <%= company_name %> deems necessary to comply with any applicable law, regulation, legal process or governmental request. <%= company_name %> also may disclose your information when <%= company_name %> determines that applicable law requires or permits such disclosure, including exchanging information with other companies and organizations for fraud protection purposes.</p>
    <p>You acknowledge and agree that <%= company_name %> may preserve any transmittal or communication by you with <%= company_name %> through the Site or any service offered on or through the Site, and may also disclose such data if required to do so by law or <%= company_name %> determines that such preservation or disclosure is reasonably necessary to (1) comply with legal process, (2) enforce these Terms of Use, (3) respond to claims that any such data violates the rights of others, or (4) protect the rights, property or personal safety of <%= company_name %>, its employees, users of or visitors to the Site, and the public.</p>
    <p>You agree that <%= company_name %> may, in its sole discretion and without prior notice, terminate your access to the Site and/or block your future access to the Site if we determine that you have violated these Terms of Use or other agreements or guidelines which may be associated with your use of the Site. You also agree that any violation by you of these Terms of Use will constitute an unlawful and unfair business practice, and will cause irreparable harm to <%= company_name %>, for which monetary damages would be inadequate, and you consent to <%= company_name %> obtaining any injunctive or equitable relief that <%= company_name %> deems necessary or appropriate in such circumstances. These remedies are in addition to any other remedies <%= company_name %> may have at law or in equity.</p>
    <p>You agree that <%= company_name %> may, in its sole discretion and without prior notice, terminate your access to the Site, for cause, which includes (but is not limited to) (1) requests by law enforcement or other government agencies, (2) a request by you (self-initiated account deletions), (3) discontinuance or material modification of the Site or any service offered on or through the Site, or (4) unexpected technical issues or problems.<br /><br />If <%= company_name %> does take any legal action against you as a result of your violation of these Terms of Use, <%= company_name %> will be entitled to recover from you, and you agree to pay, all reasonable attorneys&rsquo; fees and costs of such action, in addition to any other relief granted to <%= company_name %>. You agree that <%= company_name %> will not be liable to you or to any third party for termination of your access to the Site as a result of any violation of these Terms of Use.</p>

    <h2><b>Governing Law, Jurisdiction</b></h2>
    <p>You agree that all matters relating to your access to or use of the Site, including all disputes, will be governed by the laws of the State of Nevada, USA.</p>
    <p>This Agreement has been delivered at and shall be deemed to have been made and entered into in Las Vegas, Nevada.</p>
    <p>Accordingly, the rights and liabilities of the parties shall be determined in accordance with the laws of the State of Nevada, without regard to its principles of conflicts of laws.</p>
    <p>The parties agree that the exclusive jurisdiction and venue for the resolution of any dispute arising from or relating to this Agreement shall lie in the Eighth Judicial District Court for the State of Nevada, sitting in Las Vegas, Nevada.</p>
    <p>Each party irrevocably consents to the service of process in any such dispute if served in accordance with the notice provisions contained herein.</p>

    <h2><b>Void Where Prohibited</b></h2>
    <p><%= company_name %> administers and operates the <%= link_to I18n.t(:company_domain), root_path %> Site from its location in <%= I18n.t(:company_address1) %> <%= I18n.t(:company_address2) %> <%= I18n.t(:company_address3) %>; other <%= company_name %> sites may be administered and operated from various locations outside the United States. Although the Site is accessible worldwide, not all features, products or services discussed, referenced, provided or offered through or on the Site are available to all persons or in all geographic locations, or appropriate or available for use outside the United States. <%= company_name %> reserves the right to limit, in its sole discretion, the provision and quantity of any feature, product or service to any person or geographic area. Any offer for any feature, product or service made on the Site is void where prohibited. If you choose to access the Site from outside the United States, you do so on your own initiative and you are solely responsible for complying with applicable local laws.</p>

    <h2><b>Miscellaneous</b></h2>
    <p>You may not use or export or re-export any Content or any copy or adaptation of such Content, or any product or service offered on the Site, in violation of any applicable laws or regulations, including without limitation United States export laws and regulations. <br /><br />If any of the provisions of these Terms of Use are held by a court or other tribunal of competent jurisdiction to be void or unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary and replaced with a valid provision that best embodies the intent of these Terms of Use, so that these Terms of Use shall remain in full force and effect. These Terms of Use constitute the entire agreement between you and <%= company_name %> with regard to your use of the Site, and any and all other written or oral agreements or understandings previously existing between you and <%= company_name %> with respect to such use are hereby superseded and cancelled. <%= company_name %> will not accept any counter-offers to these Terms of Use, and all such offers are hereby categorically rejected. <%= company_name %>&rsquo;s failure to insist on or enforce strict performance of these Terms of Use shall not be construed as a waiver by <%= company_name %> of any provision or any right it has to enforce these Terms of Use, nor shall any course of conduct between <%= company_name %> and you or any other party be deemed to modify any provision of these Terms of Use. These Terms of Use shall not be interpreted or construed to confer any rights or remedies on any third parties.</p>
    <p><%= company_name %> provides access to <%= company_name %> international data and, therefore, may contain references or cross references to <%= company_name %> products, programs and services that are not announced in your country. Such reference does not imply that <%= company_name %> in your country intends to announce such products, programs or services. </p>

    <h2><b>Feedback and Information</b></h2>
    <p>Any feedback you provide at this site shall be deemed to be non-confidential. <%= company_name %> shall be free to use such information on an unrestricted basis. </p>

    <h2><b><i>The information contained in this web site is subject to change without notice.</i></b></h2>
    <h2><b><i>Copyright &copy; 2013 <%= company_name %>.<br /><br />All rights reserved.</i></b></h2>

  </div>
</div>
