<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="600" cellpadding="0" cellspacing="0" border="0">
      <%= render :partial => '/notifier/header_row', :locals => {:right_text => 'PASSWORD RESET&nbsp;&nbsp;' } %>
      <tr>

        <td style="color:#000; font-family:helvetica; font-size:14px"valign="top" colspan="2"><br /><p>Hello <%= @user.name %>,

        <p><b><span style="font-size:18px"><%= I18n.t(:company) %> Password Reset Notification</span></b></p>

            <p>We received a request to reset the password associated with this email address. Please click on the link below to create your new password:</p>

              <p><%= link_to @url, @url %></p>

    <p>          If you did not request this change, please notify us immediately by contacting <%= link_to 'customer service', "https://support.#{<%= I18n.t(:company_domain) %>}" %>.

              </p>
              <br /><br /><br/>
        </td>
      </tr>
      <tr></tr><tr>
        <td colspan="3" bgcolor="#d82125" height="10">&nbsp;</td>
      </tr><tr>
        <td colspan="3" bgcolor="#5d170d" height="10">&nbsp;</td>
      </tr><tr>
        <td colspan="3" bgcolor="#000" height="10">&nbsp;</td>
      </tr><tr>
        <td align="right" style="color:#000; font-family:helvetica; font-size:12px" colspan="2">&nbsp;</th>
      </tr>
    </table>
    <%= render :partial => 'notifier/main_footer' %>
  </body>
</html>

