<table width="600" cellpadding="0" cellspacing="0" border="0">
  <%= render :partial => '/notifier/header_row', :locals => {:right_text => "WELCOME TO #{ I18n.t(:company) }" } %>
  <tr>
    <td rowspan="2">
      <table width="300" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style='padding-top:50px;'>
            <%= image_tag 'preorder/brownie.png', :alt => 'Brownie' %>
          </td>
        </tr>
      </table>
    </td>
    <td rowspan="2">
      <table width="296" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <p>Hello <%= @user.name %>,

          <p><b><span style="font-size:18px">Welcome to <%= I18n.t(:company) %>!</span></b></p>

          <p>Today is the day! You made the choice. You made that first step. You committed.</p>

          <p><%= I18n.t(:company_description) %></p>

          <p>Your username is: <%= @user.email %> </p>
          </td>
        </tr>
        <tr>
          <td>
            <%= image_tag 'emails/sign.png', :alt => '' %>
          </td>
        </tr>
      </table>
    </td>
  </tr><tr>
    <td></td>
  </tr><tr>
    <td colspan="4" bgcolor="#d82125" height="10">&nbsp;</td>
  </tr><tr>
    <td colspan="4" bgcolor="#5d170d" height="10">&nbsp;</td>
  </tr><tr>
    <td colspan="4" bgcolor="#000" height="10">&nbsp;</td>
  </tr><tr>
    <td align="left" style="color:#000; font-family:helvetica; font-size:12px"> &nbsp; </th>
    <td align="right" style="color:#000; font-family:helvetica; font-size:12px" colspan="3">&nbsp;</th>
  </tr>
</table>
<p style='color:#666;text-transform:uppercase;'>
If you have subscribed in error or wish to unsubscribe at any time, please <%= link_to 'click here', unsubscribe_url(:email => @user.email, :key => @key) %>
<br/><br/>
COPYRIGHT &copy; <%= Time.zone.now.year %> <%= I18n.t(:company) %>.
</p>
<%#= render :partial => 'notifier/main_footer' %>
