<h2> Supplier: <%= @supplier.name %></h2>
<fieldset id="admin-product-names" class='span-12'>
<div class='large-2'>
  <%= label :supplier, :name %>
</div>
<div class='large-3 last'>
  <%= @supplier.name %>
</div>
<div class='clear'></div>
<div class='large-2'>
  <%= label :supplier, :email %>
</div>
<div class='large-3 last'>
  <%= @supplier.email %>
</div>

</div>
</fieldset>
