
  <%= f.error_messages %>
<ul>
  <li class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  <li class="field">
    <%= f.label :mailchimp_list_id %>
    <%= f.text_field :mailchimp_list_id %>
  </li>
  <li class="field">
    <%= f.label :autosubscribe %>
    <%= f.check_box :autosubscribe %>
  </li>
</ul>
