<% content_for :head do -%>

<% end %>

<h1> Newsletters </h1>

<div id="newsletter_grid_wrapper" class='pretty_table'>
  <table>
    <thead>
      <tr class='odd'>

          <th  class='column1_header'><%= sortable 'name', 'Name' %></th>
          <th>Autosubscribe</th>
          <th></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
    <% for newsletter in @newsletters %>
      <tr  class='<%= cycle("odd", "")%>'>

          <td><%= link_to newsletter.name, [:admin, :document, newsletter] %></td>
          <td><%= newsletter.autosubscribe %></td>
        <td><%= link_to "edit", edit_admin_document_newsletter_path(newsletter) %></td>
        <td><%= link_to "delete", [:admin, :document, newsletter], :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @newsletters %>

<p><%= link_to "New Newsletter", new_admin_document_newsletter_path, :class => 'button' %></p>
