  <h2>Shipping Policy</h2>

<!--bb-->
<p>Unless otherwise noted, <%= company_name %> will use its best efforts to ship products within a reasonable time after receipt of your properly completed order. Although <%= company_name %> may provide delivery or shipment timeframes or dates, you understand that those are <%= company_name %>'s good-faith estimates and may subject to change. You further understand that product availability may be limited and particular products may not be available for immediate delivery, in which case the products will be delivered when they become available. <%= company_name %> shall not be liable for any loss, damage, cost, or expense related to any delay in shipment or delivery.</p>

<p>Shipping to Alaska and Hawaii addresses is an additional $10.00 per order. Additionally, we currently do not offer express or ground shipping to these destinations.</p>

<h4>All international shipping is not available at this time.</h4>

  <h2>Returns and Exchanges Policy</h2>

<p>The success of our <%= company_name %> customers is proof that this program will get you your desired results in just 12 weeks. Plus, we're so sure you'll love this program, we're giving you our 30-day money-back guarantee. If you're not completely satisfied, simply go to <%= link_to 'Client Services', contact_us_path %> for a Return Authorization number to return <%= company_name %> within 30 days for a refund of the purchase price, less shipping and handling.</p>


<p>All items returned for a refund are subject to a $20.00 restocking fee, to be deducted from the amount refunded to the card used for purchase.
Replacement of products for shipped merchandise claimed as not received are subject to our investigation, which may include postal-service notification. We will adjust your account at our discretion. Repeated claims of undelivered merchandise may result in the cancellation of your account.</p>
